body {
  margin:0px;
  background-color:rgba(51, 102, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:788px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:205px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:205px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:784px;
  word-wrap:break-word;
}
